<div class="w-100 d-flex flex-column">
    <h1 class="mt-4 text-center">About our company</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit nec augue at blandit. Pellentesque
        aliquet
        tempus euismod. Cras at magna eros. Proin a lobortis justo, vel rutrum nisi. Etiam pretium feugiat pulvinar. Sed
        ut
        ligula nec eros pulvinar euismod in eu tellus. Cras elementum elit turpis, id sagittis justo pellentesque eu.
        Curabitur auctor luctus nunc in sollicitudin. Nullam viverra, nunc at fermentum tincidunt, ex nisl fermentum
        nunc,
        id molestie est eros vitae arcu. Curabitur semper, ante eu hendrerit congue, quam justo hendrerit nibh,
        dignissim
        sagittis nunc sapien non elit. Nullam ac tellus quis lectus pulvinar blandit. Praesent ut dolor vehicula,
        lobortis
        nisi at, malesuada turpis. Nulla massa nisl, condimentum ut sollicitudin quis, egestas non ante. Vestibulum sed
        augue egestas, congue turpis a, pretium tellus. Vestibulum sed tempus mi.
    </p>
    <p >
        Sed luctus eu nibh id congue. Fusce rutrum metus aliquam cursus porta. Suspendisse convallis pharetra nibh eu
        malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin
        commodo est quis ligula rutrum facilisis. Duis maximus condimentum mi, ut fringilla mauris lobortis vel. Aliquam
        maximus non risus non efficitur. Cras in sem ac magna rutrum condimentum nec eu diam. Vivamus ut odio nisi.
        Aenean
        dui ex, viverra in ultricies quis, vehicula ut mi. Sed a blandit nisi, vel fringilla mauris. Suspendisse luctus,
        sem
        nec viverra fringilla, arcu lorem faucibus turpis, ac maximus lacus magna vel sem. Vivamus elit lectus, rhoncus
        in
        blandit sit amet, aliquam et massa. Proin fringilla scelerisque arcu, pellentesque feugiat urna interdum vitae.
        Cras
        eleifend arcu orci, ac consectetur orci lobortis sed.
    </p>
</div>